/* -- FONTS -- */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* -- CUSTOM PROPERTIES -- */ 
:root {
    /* COLORS */ 
    --clr-orange: hsl(31deg, 77%, 52%);
    --clr-cyan-100: hsl(184deg, 100%, 22%);
    --clr-cyan-200: hsl(179deg, 100%, 13%);
    --clr-gray-100: hsl(0deg, 0%, 95%);
    --clr-white-100: hsla(0deg, 0%, 100%, .75);
    --clr-white-200: hsl(0deg, 0%, 100%);

    /* FONTS */
    --ff-main: 'Big Shoulders Display';
    --ff-text: 'Lexend Deca';
}

/* -- GLOBAL -- */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: var(--clr-gray-100);
}

@media (min-width: 912px) {
    body { max-block-size: 110vh; }
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after { box-sizing: inherit; }

/* -- TYPOGRAPHY -- */
h2 {
    margin-block: 2rem;
    font-family: var(--ff-main);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--clr-gray-100);
}

@media (min-width: 912px) {
    h2 {
        margin-block: 2rem;
        font-size: 4.5rem;
    }
}

p {
    font-family: var(--ff-text);
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--clr-white-100);
}

/* -- UTILITIES -- */
.container {
    margin-block-start: 5rem;
    margin-inline: auto;
    inline-size: clamp(32rem, 90%, 94rem);
}

.button {
    display: inline-block;
    margin-block: 2rem;
    padding: .8rem 2.5rem;
    font-family: var(--ff-text);
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.8;
    border: .2rem solid var(--clr-gray-100);
    border-radius: 2.5rem;
    background-color: var(--clr-gray-100);
    cursor: pointer;
}

@media (min-width: 912px) {
    .container {
        margin-block-start: 50vh;
        block-size: 50.5rem;
        transform: translateY(-50%);
    }

    .button {
        position: absolute;
        inset-inline-start: 4.5rem;
        inset-block-end: 2.8rem;
    }

    .card__box > .button:active {
        background-color: transparent;
        color: var(--clr-white-200);
    }
}

.card__box--sedans > .button { color: var(--clr-orange); }

.card__box--suvs > .button { color: var(--clr-cyan-100); }

.card__box--luxury > .button { color: var(--clr-cyan-200); }

/* -- CARD-CONTAINER -- */ 
.card-container {
    border-radius: .5rem;
    overflow: hidden;
}

@media (min-width: 768px) {
    .card-container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, auto);
        block-size: 100%;
    }
}

@media (min-width: 912px) {
    .card-container {
        grid-template-rows: unset;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* -- CARD__BOX -- */
.card__box { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 4rem 3rem; 
}

@media (min-width: 912px) {
    .card__box {
        position: relative;
        justify-content: flex-start;
        padding: 4rem 4.5rem;
    }
}

.card__box--sedans { background-color: var(--clr-orange); }

.card__box--suvs { background-color: var(--clr-cyan-100); }

.card__box--luxury { background-color: var(--clr-cyan-200); }

@media (min-width: 768px) {
    .card__box--luxury { grid-column: 1 / -1; }
}

@media (min-width: 912px) {
    .card__box--luxury { grid-column: unset; }
}

.card__image > img { width: 8rem; }

/* -- ATTRIBUTION -- */
.attribution {
    margin-block: 1.5rem;
    font-family: var(--ff-text);
    font-size: 1.4rem;
    text-align: center;
}

.attribution > a { color: var(--clr-cyan-100); }